:root{
    background: linear-gradient(#160c48);
    position: relative;
    overflow-x: hidden;
    padding: 0px;

}
header{
    z-index: 1000;
    position: fixed;      /* Make header stay at the top */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 10vh;
    background: rgba(22, 12, 72, 0.5); /* Semi-transparent background */
    backdrop-filter: blur(10px);        /* Blur effect */
    -webkit-backdrop-filter: blur(10px);
      border: 5px solid;
  border-image: linear-gradient(45deg, #ff6a00, #ee0979,#fff,#46333c) 1;
  padding: 1rem;
}


.home{
    z-index: 3;
    display: flex;
    flex-wrap: none;
    height: 100vh;
}


.circle1,.circle2{
    z-index: 3;

    height: 1300px;
    width: 1300px;
    border: none;
    border-radius: 50%;
    
    filter: drop-shadow(0px 0 10px #150a3c);
    
    
    
  
    
}
.circle1{
    background: linear-gradient(235deg,#3E1F9E,#281467,#1E0F4A);
    transform: translate(-100%,-20vh);
    animation: slideIn1 2s ease-in forwards;
}
.circle2{
    background: linear-gradient(45deg,#3E1F9E,#281467,#1E0F4A);
    transform: translate(70%,-50%);
    animation: slideIn2 2s ease-in forwards;
}
@keyframes slideIn1 {
    60%{
        transform: translate(-45%,-20vh);
    }
    70%{
        transform: translate(-42%,-20vh);
    }
    80%{
        transform: translate(-47%,-20vh);
    }
    to{
        transform: translate(-45%,-20vh);
    }
}
@keyframes slideIn2 {
    60%{
        transform: translate(50%,-30%);
    }
    70%{
        transform: translate(47%,-27%);
    }
    80%{
        transform: translate(52%,-32%);
    }
    to{
        transform: translate(50%,-30%);
    }
}

.projects{
    z-index: 5;
    height: 100vh;
    background-color: antiquewhite;
    position: relative;
}

header {
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(90deg, #ff6a00, #46333c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Safari/Chrome */
  background-clip: text;                /* Firefox */
  color: transparent;                   /* fallback */
}

