.main-container {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100vh;


}

.main-container::-webkit-scrollbar {
  display: none;
}

header.active {
  z-index: 1000;
  position: fixed;

  top: 4vh;
  left: 10vw;
  right: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  background: rgba(22, 12, 72, 0.5);


  backdrop-filter: blur(10px);
  /*-webkit-text-fill-color: transparent;*/

  background-clip: text;

  -webkit-backdrop-filter: blur(10px);
  border: solid 2px;
  border-radius: 5vh;
  border-color: rgba(22, 12, 72, 0.2);
  padding-left: 2vw;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);


}

header {
  z-index: 1000;
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  background: rgba(22, 12, 72, 0.5);


  backdrop-filter: blur(10px);
  /*-webkit-text-fill-color: transparent;*/

  background-clip: text;

  -webkit-backdrop-filter: blur(10px);
  border: solid 2px;

  border-color: rgba(22, 12, 72, 0.5);
  padding-left: 2vw;
  transition: all 0.5s ease;

}


header h2 {
  /* font/text adjustments */
  font-size: 3rem;
  color: antiquewhite;

  /* Start invisible */
  opacity: 0;
  transform: translateY(30px);

  /* Animation */
  animation: fadeInUp 2s ease forwards;
  transition: all 0.2s ease;
}

header h2.active {
  color: #160c48;
}


@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.right-side {
  margin-right: 3rem;
}

.right-side button {
  padding: 0.7rem;
  height: 2.5rem;
  margin-right: 1.5rem;
  background-color: transparent;
  border-color: rgba(22, 12, 72, 0.2);
  border-width: 1px;
  font-size: 1rem;
  cursor: pointer;
  color: antiquewhite;

  border-radius: 1rem;

  /* Start invisible */
  opacity: 0;
  transform: translateY(30px);

  /* Animation */
  animation: fadeInUp 2s ease forwards;
  transition: all 0.2s ease;
}

.right-side button.active {
  color: #160c48;

}



.home {
  z-index: 3;
  display: flex;
  flex-wrap: none;
  height: 100vh;
  width: 100%;
  background: linear-gradient(55deg, #3E1F9E, #281467, #1E0F4A);
}



.main-content {
  position: relative;
  top: 300px;
}


.circle1,
.circle2 {
  position: absolute;
  z-index: 3;

  height: 1300px;
  width: 1300px;
  border: none;
  border-radius: 50%;

  filter: drop-shadow(0px 0 10px #150a3c);





}

.circle1 {
  background: linear-gradient(235deg, #3E1F9E, #281467, #1E0F4A);
  transform: translate(-100%, -20vh);
  animation: slideIn1 2s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  transition: all 0.8s ease;
}

.circle1.active {
  translate: -500px;
}

.circle2.active {
  translate: 700px;
}

.circle1 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 16%;
  top: 35%;
  opacity: 0;
  transform: translateY(30px);

  /* Animation */
  animation: fadeInUpName 4s ease forwards;
}

.circle1 div h2 {

  font-size: 2rem;
  color: antiquewhite;
  font-weight:bolder

}

.circle1 div h1 {
  font-size: 3rem;
    background: linear-gradient(90deg, rgba(112, 16, 222, 0.624), #feb47b);
     /* gradient colors */
     background-clip: text;
    -webkit-background-clip: text;/* clips background to text */
  -webkit-text-fill-color: transparent; /* makes text transparent to show background */
  color: rgba(112, 16, 222, 0.624);
  font-weight: bolder;
  animation: float 3s infinite linear;
}
@keyframes float{
  25%{
    transform: translate(0,-0.5rem);
  }
  75%{
    transform: translate(0,0.5rem);
  }
  to{
    transform: translate(0,0);
  }
}

@keyframes fadeInUpName {
  50% {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.circle2 {
  background: linear-gradient(45deg, #3E1F9E, #281467, #1E0F4A);
  transform: translate(70%, -50%);
  animation: slideIn2 2s cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
  transition: all 1s ease;
  perspective: 1000px;
}

@keyframes slideIn1 {

  to {
    transform: translate(-50%, -20vh);
  }
}

@keyframes slideIn2 {

  to {
    transform: translate(50%, -30%);
  }
}

.logo{
  position:absolute;

  height: 4rem;
  writing-mode: vertical-rl;
 
}

.logo1{
  top:40rem;
  transform-origin:650px 0px ;
  animation: spin 10s cubic-bezier(0,0,0,0) infinite;

}
.logo2{
  top: 76.5rem;
  left: 40rem;
  transform-origin:10px -36.5rem ;
    animation: spin 10s cubic-bezier(0,0,0,0) infinite;
 
  

}
.logo3{
  top: 40rem;
  right: 10px;
  transform-origin:-36rem 5px ;
  animation: spin 10s cubic-bezier(0,0,0,0) infinite;
}
.logo4{
  top: 5px;
  left: 40rem;
  transform-origin:10px 40rem ;
  animation: spin 10s cubic-bezier(0,0,0,0) infinite;
}


@keyframes spin{
  to{
    transform: rotate(-360deg);
  }
}
.circle2 div {
  position: absolute;
  top: 50%;
  left: 30%;
    opacity: 0;
  transform: translateY(30px);

  /* Animation */
  animation: fadeInUpName 4s ease forwards;

}

.circle2 div button {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.09), transparent);
  height: 10vh;
  width: 16vh;
  border-radius: 12px;
  color: antiquewhite;
  padding: 14px;
  border: 1px solid rgba(255, 255, 255, 0.09);
  cursor: pointer;
  font-size: larger;
  font-weight: 900;
  transition: transform .38s ease, box-shadow .28s ease;
}
.circle2 div button:hover{
  
    transform: translateY(-6px) scale(1.1);
    box-shadow: 0px 10px 10px rgba(112, 16, 222, 0.2);
}

.projects {
  z-index: 5;
  height: 100vh;
  background-color: antiquewhite;
  position: relative;
}