body{
    padding: 0px;
    margin: 0px;

}
.circle{
    position: relative;
    height: 800px;
    width: 800px;
    border-radius: 50%;
    background-color: blueviolet;
}
.logo{
    position: absolute;
    
    height: 50px;
}
.logo1{
top: 0px;
left: 370px;
transform-origin:30px 400px ;
animation: spin 10s cubic-bezier(0,0,0,0) infinite;
}
.logo2{
    top: 370px;
    left: 0px;
    transform-origin:400px 30px ;
    animation: spin 10s cubic-bezier(0,0,0,0) infinite;
}
.logo3{
    top: 745px;
    left: 370px;
    transform-origin:30px -345px ;
    animation: spin 10s cubic-bezier(0,0,0,0) infinite;
}
@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}

